<mt:unless name="append_grid_included">
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/AppendGrid/jquery-ui/jquery-ui.min.css?v=<mt:var name='plugin_version'>" type="text/css" />
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/AppendGrid/jquery.appendGrid/jquery.appendGrid-1.4.2.min.css?v=<mt:var name='plugin_version'>" type="text/css" />
    <link rel="stylesheet" href="<$mt:var name="static_uri"$>plugins/AppendGrid/mt-append-grid.css?v=<mt:var name='plugin_version'>" type="text/css" />
    <script src="<$mt:var name="static_uri"$>plugins/AppendGrid/jquery.appendGrid/jquery.appendGrid-1.4.2.min.js?v=<mt:var name='plugin_version'>" type="text/javascript"></script>
</mt:unless>

<input type="hidden" name="<mt:var name="field_name" escape="html">" id="<mt:var name="field_id">" class="text" value="<mt:var name="field_value" escape="html">" />

<div class="append-grid-wrapper">
<table id="<mt:var name="field_id" />-grid-table"></table>
</div>

<script>
    (function() {
        var $ = jQuery;

        $(function() {
            var defaults = {
                initRows: 3,
                rowDragging: true,
                hideButtons: { moveUp: true, moveDown: true },
                i18n: {
                    append: '<__trans phrase="Append">',
                    removeLast: '<__trans phrase="Remove Last">',
                    insert: '<__trans phrase="Insert Above">',
                    remove: '<__trans phrase="Remove">',
                    moveUp: '<__trans phrase="Move Up">',
                    moveDown: '<__trans phrase="Move Down">',
                    rowDrag: '<__trans phrase="Move Row With Drag & Drop">',
                    rowEmpty: '<__trans phrase="No Rows">'
                }
            };
            var forces = {};
            var options = <mt:var name="options">;
            var opts = $.extend(defaults, options, forces);

            var $input = $('#<mt:var name="field_id">');
            var $grid = $('#<mt:var name="field_id">-grid-table').appendGrid(opts);

            $('#<mt:var name="field_id">-grid-table')
                .closest('form').submit(function() {
                    $input.val(JSON.stringify($grid.appendGrid('getAllValue')));
                    return true;
                });
        });
    })();
</script>