<div>
    <textarea name="options" id="options" class="text high"><mt:var name="options" escape="html"></textarea>
</div>
<div>
    <a href="javascript:alert('hello')"><__trans phrase="Build"></a>
</div>