<link rel="stylesheet" href="<$MTStaticWebPath$>plugins/AppendGrid/jquery-ui/jquery-ui.min.css?v=<mt:var name='plugin_version'>" type="text/css" />
<link rel="stylesheet" href="<$MTStaticWebPath$>plugins/AppendGrid/jquery.appendGrid/jquery.appendGrid-1.5.0.min.css?v=<mt:var name='plugin_version'>" type="text/css" />
<link rel="stylesheet" href="<$MTStaticWebPath$>plugins/AppendGrid/mt-append-grid.css?v=<mt:var name='plugin_version'>" type="text/css" />
<script type="text/javascript" src="<$MTStaticWebPath$>plugins/AppendGrid/jquery.appendGrid/jquery.appendGrid-1.5.0.min.js?v=<mt:var name='plugin_version'>"></script>
<script type="text/javascript" src="<$MTStaticWebPath$>plugins/AppendGrid/mt-append-grid.js?v=<mt:var name='plugin_version'>"></script>
