<mt:if name="id">
    <mt:setvar name="page_title" value="<__trans phrase="Edit AppendGrid Schema">">
<mt:else>
    <mt:setvar name="page_title" value="<__trans phrase="Create AppendGrid Schema">">
</mt:if>

<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:SetVarBlock name="system_msg">
<mt:if name="error">
  <mtapp:statusmsg
     id="generic-error"
     class="error"
     can_close="0">
    <mt:var name="error">
  </mtapp:statusmsg>
</mt:if>
<mt:if name="saved">
  <mtapp:statusmsg
     id="saved"
     class="success">
    <__trans phrase="Your changes have been saved.">
  </mtapp:statusmsg>
</mt:if>
</mt:SetVarBlock>

<mt:setvarblock name="jq_js_include" append="1">
(function($) {
    var updateSchemaFormatState = function() {
        var format = $('#schema_format_yaml').attr('checked') ? 'yaml' : 'json';
        console.log(format);
        if ( format == 'yaml' ) {
            $('#schema_json-field').hide();
            $('#schema_yaml-field').fadeIn('fast');
        } else {
            $('#schema_yaml-field').hide();
            $('#schema_json-field').fadeIn('fast');
        }
    };

    updateSchemaFormatState();
    $('.schema_selector').click(updateSchemaFormatState);
})(jQuery);
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
<style type="text/css">
  #schema_yaml-field, #schema_json-field { display: none; }
</style>
</mt:setvarblock>

<mt:setvar name="screen_group" value="custom_fields" />
<mt:include name="include/header.tmpl" id="header_include">

<form method="post" action="<mt:var name="script_url">" id="edit_append_grid_schema">
  <input type="hidden" id="blog-id" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
  <input type="hidden" name="__mode" value="save" />
  <input type="hidden" name="_type" value="<mt:var name="object_type">" />
  <input type="hidden" name="id" value="<mt:var name="id" escape="html">" id="id" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <mtapp:settinggroup id="appned_grid_schema">

    <mtapp:setting
       id="label"
       label_class="top-label"
       label="<__trans phrase="Label">"
       required="1">
      <input type="text" name="name" id="name" class="text full required" maxlength="100" value="<mt:var name="name" escape="html">" />
    </mtapp:setting>

    <mtapp:setting
       id="description"
       label_class="top-label"
       label="<__trans phrase="Description">">
       <textarea name="description" id="description" class="text low full" rows="5"><mt:var name="description" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
       id="schema_format"
       label_class="top-label"
       label="<__trans phrase="Schema Format">">
        <ul>
            <li>
                <label>
                    <input type="radio" id="schema_format_yaml" name="schema_format" class="rb schema_selector" value="yaml"<mt:if name='schema_format' eq='yaml'> checked="checked"</mt:if>>
                    <__trans phrase="YAML">
                </label>
                <label>
                    <input type="radio" id="schema_format_json" name="schema_format" class="rb schema_selector" value="json"<mt:if name='schema_format' ne='yaml'> checked="checked"</mt:if>>
                    <__trans phrase="JSON">
                </label>
            </li>
        </ul>
    </mtapp:setting>

    <mtapp:setting
       id="schema_json"
       label_class="top-label"
       label="<__trans phrase="Schema JSON">">
       <textarea name="schema_json" id="schema_json" class="text high full" rows="5"><mt:var name="schema_json" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
       id="schema_yaml"
       label_class="top-label"
       label="<__trans phrase="Schema YAML">">
       <textarea name="schema_yaml" id="schema_yaml" class="text high full" rows="5"><mt:var name="schema_yaml" escape="html"></textarea>
    </mtapp:setting>

  </mtapp:settinggroup>

  <mt:setvarblock name="action_buttons">
    <button
       type="submit"
       accesskey="s"
       title="<__trans phrase="Save changes to this schema (s)">"
       class="save action button primary"
       ><__trans phrase="Save Changes"></button>
  </mt:setvarblock>

  <mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
