<div>
    <textarea name="options" id="options" class="text high"><mt:var name="options" escape="html"></textarea>
</div>
<mt:include name="cms/append_grid_preview_component.tmpl" component="AppendGrid" preview_bootup="return jQuery.mtAppendGrid.bootupCustomFieldPreview(this,'json')">
